html{
    box-sizing: border-box;
    background-image: url(/src/assets/images/yuri_gif/yuri_shake.gif);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.flex-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
    overflow: visible;
    text-align: left;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.svg_logo {
    width: 30vmin;
}

.game-list {
    flex-direction: row;
    border: solid;
    background-color: white;
}

.game-name {
    font-size: 2rem;
}

#update-page{
    flex-direction: row;
    justify-content: center;
    color:black;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.update-link:active{
    color: black;
}

.update-link:visited{
    color: black;
}
.update-link:hover{
    color: blue;
}
.yuri_con {
    width: 70px;
}

.game-link {
    color: blue;
    text-decoration: none;
    padding-right: 1rem;
}

.game-link:visited {
    color: blue;
}

.game-link:hover {
    color: cornflowerblue;
}

.game-link:active {
    color: deepskyblue;
}